In [8]:
#Prediction Analysis
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
datah = pd.read_csv('RH.csv')
n = 70
nbhead = int(len(datah)*(n/100))
datah.head(nbhead)

,NUM_ID,NUM_IM,CODEBUR,LIEU_AF,MOTIF_AFFECT,FONCTION_AF,DIVISION_AF,SERVICE_AF,DIRECTION_AF,DATE_PS
0,2008DEC5,275 850,34AS,ANTSIRANANA,COMPLEMENT D'EFFECTIF,NaN,NaN,SOC,DSE,NaN
1,2009DEC8,318 069,22TP,TOAMASINA-PETROLES,NaN,CHEF DE SITE,NaN,SOC,DSE,NaN
2,2000DEC4,275 855,34AS,ANTSIRANANA,COMPLEMENT D'EFFECTIF,NaN,NaN,SOC,DSE,03/08/00
3,2001DEC2,275 855,12IV,IVATO-AEROPORT,COMPLEMENT D'EFFECTIF,NaN,NaN,SOC,DSE,NaN
4,2010DEC7,275 855,22TP,TOAMASINA-PETROLES,COMPLEMENT D'EFFECTIF,ECOR ET SURVEILLANCE,NaN,SPCB,DSE,19/04/10
...,...,...,...,...,...,...,...,...,...,...
3112,2015DEC858,295 870,SAE,SERVICE DES ACTIONS ECONOMIQUES,NaN,NaN,NaN,SAE,NaN,23/09/15
3113,2015DEC974,357 660,SE,SERVICE DES EQUIPEMENTS,NaN,NaN,NaN,SE,DRF,17/02/15
3114,2005DEC933,295 871,SCRS,SERVICE DU CONTROLE DES REGIMES SUSPENSIFS,NaN,NaN,NaN,NaN,NaN,NaN
3115,2010DEC834,295 871,11AN,ANTANANARIVO,NaN,NaN,NaN,SPCB,NaN,09/02/10
3116,2005DEC934,295 873,DGD,DIRECTION GENERALE DES DOUANES,NaN,NaN,NaN,NaN,NaN,NaN