In [297]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.express as px
from datetime import datetime

In [298]:
data=pd.read_csv("data/rhdata.csv")
data=data.drop("num_im",axis=1)
data.head()

,sexe,date_naiss,age,sit_fam,job_ok,nbre_enf,nature,design,ann_dipl,ordre,...,division_af,service_af,direction_af,date_ps,dat_retraite,poste_act,job_act,dt_echeance,tot_afct,statut_act
0,MASCULIN,26/07/1974,44 ans 05 mois 01 jours,MARIE(E),0,1,DIPLOME,CERTIFICAT D'ETUDES PRIMAIRES ELEMENTAIRES,NaN,1,...,NaN,SOC,DSE,NaN,2034-07-26,22TP,ECOREUR,2019-02-09,3,EN FONCTION
1,MASCULIN,11/06/1979,39 ans 06 mois 16 jours,MARIE(E),1,2,CERTIFICAT,GRAPHISTE ET MAQUETTISTE,NaN,6,...,NaN,SOC,DSE,NaN,2039-06-11,22TP,CHEF DE SITE INFORMATIQUE,2013-12-22,1,EN FONCTION
2,MASCULIN,11/06/1979,39 ans 06 mois 16 jours,MARIE(E),1,2,DIPLOME,DIPLOME D'INGENIEUR EN GENIE ELECTRONIQUE MANAGER,2008.0,1,...,NaN,SOC,DSE,NaN,2039-06-11,22TP,CHEF DE SITE INFORMATIQUE,2013-12-22,1,EN FONCTION
3,MASCULIN,11/06/1979,39 ans 06 mois 16 jours,MARIE(E),1,2,DIPLOME,DIPLOME DE TECHNICIEN SUPERIEUR EN ELECTRONIQUE,2000.0,2,...,NaN,SOC,DSE,NaN,2039-06-11,22TP,CHEF DE SITE INFORMATIQUE,2013-12-22,1,EN FONCTION
4,MASCULIN,11/06/1979,39 ans 06 mois 16 jours,MARIE(E),1,2,CERTIFICAT,ADMINISTRATION RESEAUX-AUF JREWS,NaN,2,...,NaN,SOC,DSE,NaN,2039-06-11,22TP,CHEF DE SITE INFORMATIQUE,2013-12-22,1,EN FONCTION

In [313]:
df = data.copy()
qualitative = []
quantitative = []

for variable in df.columns.tolist():
    if df.dtypes[variable] in ['float64', 'int64']:
        quantitative.append(variable)
    else :
        qualitative.append(variable)

In [314]:

df[qualitative[0]].unique()

array(['MASCULIN', 'FEMININ'], dtype=object)

In [315]:
df[qualitative[1]].unique()

array(['26/07/1974', '11/06/1979', '07/05/1970', ..., '24/04/1974',
       '17/05/1991', '06/01/1981'], dtype=object)

In [316]:
df[qualitative[2]].unique()

array(['44 ans 05 mois 01 jours', '39 ans 06 mois 16 jours',
       '48 ans 07 mois 20 jours', ..., '46 ans 04 mois 04 jours',
       '29 ans 03 mois 11 jours', '39 ans 07 mois 20 jours'], dtype=object)

In [317]:
import re
d=df[qualitative[2]]
d=list(d)
for index, value in enumerate(d):
        numbers = [float(s) for s in re.findall(r'-?\d+\.?\d*', value)]
        d[index]=numbers[0]

df[qualitative[2]] = [float(v) for v in d]

In [318]:
df[qualitative[3]].unique()

array(['MARIE(E)', 'DIVORCE(E)', 'CELIBATAIRE', 'VEUF(VE)', nan],
      dtype=object)

In [319]:
df[qualitative[4]].unique()

array(['DIPLOME', 'CERTIFICAT', 'FORMATION', 'ATTESTATION',
       'APTITUDE PROFESSIONNEL', 'APTITUDE PROFESSIONNELLE'], dtype=object)

In [320]:
df[qualitative[5]].unique()

array(["CERTIFICAT D'ETUDES PRIMAIRES ELEMENTAIRES",
       'GRAPHISTE ET MAQUETTISTE',
       "DIPLOME D'INGENIEUR EN GENIE ELECTRONIQUE MANAGER", ...,
       'MASTER 1', 'LICENCE EN ECONOMIE-GESTION',
       'MASTER EN CONTROLE DE GESTION ET AUDIT OPERATIONNEL'],
      dtype=object)

In [321]:
df[qualitative[6]].unique()

array(['CONCOURS DIRECT', "CONTRAT D'ENGAGEMENT", "DECISION D'ENGAGEMENT",
       'AFFECTATION DEFINITIVE', 'DETACHEMENT', nan], dtype=object)

In [322]:
df[qualitative[7]].unique()
data_y = df[qualitative[7]]

df[qualitative[7]]=pd.to_datetime(data_y).dt.year

In [323]:
df[qualitative[7]].unique()

array([2000, 2008, 1999, 2001, 2010, 1987, 1998, 2003, 2004, 2002, 2005,
       1989, 2006, 2011, 1988, 1980, 2015, 2013, 1977, 1978, 2016, 1990,
       1979, 1995, 1994, 1996, 1982, 2012, 1993, 1981, 1992, 1997, 1984,
       2009, 2007, 2017, 2014, 2018, 2019], dtype=int64)

In [324]:
df[qualitative[9]].unique()

array(['42MG', '22TP', '34AS', '12IV', '21TO', 'DGD', 'SAI', 'SAF', 'SRI',
       nan, '53TL', 'SLF', '25BT', 'SED', '11AN', 'SS', 'SLR', 'DSCD',
       '24SM', 'PRMP', 'AUTRES', 'SAGD', 'SAJC', 'SID', 'SDI', 'SAGRH',
       'SDC', '51MD', '35NB', 'SRH', 'SE/DSCD', '32SA', 'SFRC/DNF',
       'SCAP', 'SCDD', '13AB', '31AH', 'SVO', 'DESD', 'DLRE', 'DAJLF',
       'SCD', 'CCSEAD', '62MJ', '41AL', 'SCRS', '16ZE', '54TG', '17ZO',
       '15ZS', '61MK', 'DTERD', 'SCC', '63FI', 'DAGD', 'DSE', 'SSD',
       'BUDORS', 'SBID', 'SST', 'SSAE', 'SCSR', 'CIR', 'DAAD', '23MA',
       'ENSD', 'SCRU', 'SI', 'SSLC', 'DNFP', 'SRAR', 'SOC', 'DLV',
       'SRDAAMI', 'SE', '33VO', 'DLSD', 'SAE', '14MA', 'SSOC', 'SF',
       'CPERF', 'CDL'], dtype=object)

In [325]:
df[qualitative[16]]=pd.to_datetime(df[qualitative[16]]).dt.year
df[qualitative[17]]=pd.to_datetime(df[qualitative[17]]).dt.year
df[qualitative[20]]=pd.to_datetime(df[qualitative[20]]).dt.year

In [326]:
df.to_csv("data/clean.csv",index=False)