<h1><center>SPLIT DATA</center></h1>

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import chi2_contingency
from sklearn.model_selection import train_test_split

In [33]:
data = pd.read_csv("data/preproce.csv")

In [34]:
df = data.copy()

## Split : Train : 75% Val:15% Test:10%

In [35]:
train_val,test=train_test_split(df,test_size=0.1,random_state=0)

In [36]:
train_val.shape

(11993, 44)

In [37]:
train,val=train_test_split(train_val,test_size=0.3,random_state=0)

In [38]:
train.shape

(8395, 44)

In [39]:
val.shape

(3598, 44)

In [40]:
numeric = []
qualitative= []

for variable in data.columns.tolist():
    if data.dtypes[variable] in ['float64','int64']:
        numeric.append(variable)
    else :
        qualitative.append(variable)

<h3>FUNCTION</h3>

In [41]:
def processPerLevels(data,list_feature):
    catHead = ['Feature', 'Level', 'Count', 'Frequence %']
    count = []
    freq = []
    feature_all = []
    list_level_all = []
    for feature in list_feature:
        
        list_level = data[feature].unique().tolist()

        len_level = len(list_level)

        for level in list_level:
            count_level = len(data.loc[data[feature] == level])
            count.append(count_level)
            freq_level = count_level * 100/len(data)
            freq.append(round(freq_level, 2))
            feature_all.append(feature)
            list_level_all.append(level)
    
    resultDf = pd.DataFrame(columns=catHead)
    resultDf['Level'] = list_level_all
    resultDf['Feature'] = feature_all
    resultDf['Count'] = count
    resultDf['Frequence %'] = freq
    resultDf.set_index(['Feature', 'Level'], inplace=True)
    return resultDf

In [29]:
# var_qualitative = ['Town', 'Type of Property']
# processPerLevels(df,var_qualitative)

In [42]:
processPerLevels(train,numeric)

                        Count  Frequence %
Feature      Level
age          38.000000    374         4.46
             44.000000    483         5.75
             49.000000    304         3.62
             40.000000    503         5.99
             47.000000    477         5.68
...                       ...          ...
std_tot_afct 2.334224      54         0.64
             2.983440      48         0.57
             2.658832      17         0.20
             5.255695      33         0.39
             4.606479      11         0.13

[640 rows x 2 columns]

In [43]:
train.to_csv(r'data/train.csv',index=False)
test.to_csv(r'data/test.csv',index=False)
val.to_csv(r'data/val.csv',index=False)